.fc-slats {
    overflow: hidden;
}

.fc-time-grid-event > .fc-content {
    padding: 10px 10px;
}

.fc-time-grid-event .fc-title {
    padding: 0 10px 0 0;
}

.fc-time-grid-event .fc-title:first-letter {
    text-transform: uppercase;
}

.fc-time-grid-event .fc-title > i {
    font-size: .85em;
}

.fc-time-grid-event.fc-event {
    border-radius: 0px !important;
    border: none !important;
}

.fc-classroom {
    font-size: .85em;
    white-space: nowrap;
    font-style: italic;
}

.fc-day-grid {
    display: none;
}

.fc-view {
    min-width: 300px !important;
}

.fc-time-grid-container {
    height: auto !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 0 0 0 !important;
}

.sweet-alert h2 span {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.sweet-alert h2 {
    margin-bottom: 12px;
}

.sweet-alert > p {
    font-size: 1.5rem;
}

.sweet-alert .hour {
    margin-bottom: .5rem;
    margin-top: -.5rem;
    display: inline-block;
    padding: .5rem .75rem;
    background: #797979;
    font-size: 1.25rem;
    color: white;
}

.fc-event {
    cursor: pointer;
}

.fc-toolbar {
    margin-bottom: .75rem;

}

.fc-left {

    display: block;
    text-align: center;
    float: none !important;
    margin-bottom: .75rem;
}

.fc-left h2 {

    display: block !important;
    text-align: center;
    float: none !important;

}

.bottomToolbar {

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 3.2rem;

}

* {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.fc-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.fc-center {
    width: 50%;
    display: flex;
    justify-content: center;
}

body {
    margin-bottom: 0;
    height: 100vh;
    overflow: hidden;
}

.fc-agendaDay-view .fc-title {
    font-size: 1.15rem;
}

.fc-title i {
    font-size: 1rem;
}

.ui-button {
    border-radius: 5px;
}

.fc-agendaWeek-button {
    border-radius: 5px 0px 0px 5px;
}

.fc-agendaDay-button {
    border-radius: 0px 5px 5px 0px;
}

.ui-button {
    outline: none !important;
}

.spinner {
    position: fixed;
    top: 0;
    right: 8px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 999;
    transition: .4s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.spinner--visible {
    transform: scale(1);
    opacity: 1;
}

.ui-widget-header {
    border: black;
    background: black;
}

.ui-widget-content {
    border: black;
}

.fc-agendaDay-view {
    max-width: 350px;
    margin: auto;
}

.fc button {
    background: black;
    border: black;

    transition: .5s;
}

.fc-view {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.ui-state-active {
    background: rgba(0, 0, 0, .3);
}

.ui-state-hover {
    background: #361e25 !important;
    color: white;
}

button.ui-state-active {
    background: #59323C;
}

.bottomToolbar {
    width: 350px;
    position: relative;
}

#calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 98vh;
}

@media screen and (min-width: 1100px) {
    #calendar {
        justify-content: flex-start;
    }
}

.la-square-loader {
    color: #59323C;
}